.container {
    width: 900px;
    margin: 0px auto;
}
ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
ul li a {
    background-color: teal;
    color: white;
    text-decoration: none;
    font-size: 20px;
    height: 30px;
    padding: 5px 20px;
    float: left;
    border-left: 2px solid white;
    line-height: 30px;
}
ul li a:hover {
    background-color: goldenrod;
    color: black;
}