.container {
    width: 400px;
    border: 3px solid black;
    margin: auto;
}
.kotak_1, .kotak_2, .kotak_3 {
    width: 300px;
    background-color: lawngreen;
    margin: 5px;
    box-sizing: border-box;
}
.kotak_1 {
    padding: 40px;
    box-sizing: border-box;
}
.kotak_2 {
    border: 5px solid black;
    padding: 40px;
}
