* {
    padding: 0px;
    margin: 0px;
}
label, input {
    display: block;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    color: teal;
}
form {
    width: 600px;
    border: 1px solid teal;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
label {
    margin-left: -8px;
    margin-top: 10px;
    font-size: 14px;
}
button {
    width: 50%;
    margin-top: 30px;
    margin-left: 25%;
    background-color: lightcoral;
    color: white;
    border-radius: 10px;
    padding: 8px;
    font-size: 16px;
    border: none;
}
h3 {
    color: teal;
    margin-bottom: 30px;
}